body {
  text-align: center;
  background: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: 200rem;
}

#p-head {
  font-size: 2.5rem;
  color: red;
  text-decoration: solid 5px black underline;
}

.d-none {
  display: none;
}

.box {
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  padding: 5px;
  border-radius: 40px;
  font-size: 30px;
  font-weight: 700;
  color: orangered;
  background: url(boxbg.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  box-shadow: 0px 0px 20px white;
}

.q-generator {
  height: 26px;
  width: 122px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  background-color: blanchedalmond;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.r-button {
  position: absolute;
  top: 15px;
  right: 5%;
}

.btn-click {
  height: 24px;
  width: 120px;
  margin-top: 1px;
  background-color: rgba(255, 235, 205, 0.568);
}

.footer {
  height: fit-content;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: grey;
}

.footer p {
  margin: 1px;
}

.footer a {
  color: blue;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline solid blue;
}

@media (max-width: 760px) {
  .r-button {
    position: static;
  }
}
